services:
  express-api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    # Fichier d'env local
    env_file: ".env"
    environment:
      # variables de watch (peuvent être surchargées dans .env.dev)
      CHOKIDAR_USEPOLLING: "true"
      CHOKIDAR_INTERVAL: "300"
      # exemple : port app et URI mongo (utilisé par ton code)
      APP_PORT: "${APP_PORT:-3000}"
      MONGO_URI: "${MONGO_URI:-mongodb://root:example@mongo:27017/?authSource=admin}"
    ports:
      - "${APP_PORT}:${APP_PORT}"
    volumes:
      - .:/app
    command: npm run dev
    depends_on:
      - mongo
      - mailpit

  mongo:
    image: ${MONGO_IMAGE:-mongo:7}
    command: mongod --quiet
    ports:
      - "${MONGO_PORT:-27017}:${MONGO_PORT:-27017}"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER:-root}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASS:-example}
      DEV_DB: ${MONGO_DEV_DB:-mydb}
      TEST_DB: ${MONGO_TEST_DB:-psf-app-test}
      MONGO_LOG_LEVEL: warn

    # nom du volume (peut être remplacé via MONGO_VOLUME)
    volumes:
      - "${MONGO_VOLUME:-mongo_data}:/data/db"
      - ./init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js

  mailpit:
    image: axllent/mailpit:latest
    ports:
      - "8025:8025"   # Interface web
      - "1025:1025"   # SMTP
    environment:
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1

# volumes nommés optionnels (si tu veux en déclarer un par défaut)
volumes:
  mongo_data:
